{#/**
* Block Name: Testimonial
*
* This is the template that displays the testimonial block.
*/#}
<section class="c-testimonial">
    <div class="testimonial">
        {% if fields.avatar %}
            <img src="{{fields.avatar.src}}" class="testimonial__avatar" />
        {% endif %}
        <p class="testimonial__content">{{ fields.testimonial }}</p>
        <span class="testimonial__author">{{ fields.author }}</span>
    </div>
</section>