{% extends 'base.twig' %}

{% block content %}
    {% for post in posts %}
        <div class="post-block{{ loop.index % 2 == 0 ? ' post-block--even' : '' }}">
            <div class="post-block__info">
                <h1 class="post-block__title">{{ post.post_title }}</h1>
                <p class="post-block__excerpt">{{ post.post_excerpt }}</p>
                <a href="{{ function('get_post_permalink', post) }}" target="_self" class="post-block__button">VIEW PROJECT</a>
            </div>
            {% include 'views/partials/components/image.twig' with {
                'imgAlt': post.post_title,
                'imgClass': 'post-block__image',
                'imgID': function('get_post_thumbnail_id', post)
            } %}
        </div>
    {% endfor %}
{% endblock %}