<section class="follow-us">
    {% include 'views/partials/components/background-attached-image.twig' with {
        'class': 'follow-us',
        'image': function('get_template_directory_uri') ~ '/assets/images/blue-blur-color-932638.png'
    } %}

    <h1 class="follow-us__title">FOLLOW US</h1>

    {% include 'views/partials/social-links.twig' with {'dark': 0} %}
</section>